.container {
  width: 100%;
  margin-top: 2rem;
}

.table {
  width: 100%;
  border: 2px solid gray;
}

.table-head {
  border: 2px solid gray;
  text-align: left;
  cursor: pointer;
  padding: 1rem;
}

.table-data {
  border: 1px solid gray;
  padding: 1rem;
}
